# Based on the LLVM style with custom settings for Unreal Engine
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Always
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 180 # How many characters before the code wraps onto another line
ConstructorInitializerAllOnOneLineOrOnePerLine: true
IndentCaseLabels: true
IndentPPDirectives: None
SortIncludes: "CaseSensitive"
AlwaysBreakTemplateDeclarations: Yes
PenaltyExcessCharacter: 100
PenaltyBreakBeforeFirstCallParameter: 19
SpacesInParentheses: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: false
SpaceBeforeRangeBasedForLoopColon: true
ReflowComments: false
PointerAlignment: Left
DerivePointerAlignment: false
IndentWrappedFunctionNames: false
AlignConsecutiveAssignments: false
AlignEscapedNewlines: Left
AlignOperands: false
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllConstructorInitializersOnNextLine: true
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakBeforeMultilineStrings: false
BreakBeforeTernaryOperators: true
BreakAfterJavaFieldAnnotations: false
BreakStringLiterals: false
CompactNamespaces: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyReturnTypeOnItsOwnLine: 60
SpaceBeforeCaseColon: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
Standard: Cpp11
UseCRLF: false
SpaceBeforeAssignmentOperators: true
AccessModifierOffset: -4